@media screen and (max-width: 2000px){
    .container-fluid a{
        color: gray;
    }

    .bio{
    }

    a{
        padding: 16px;
    }
    .nav-link{
        
    }
    .navbar{
        padding: 0px 16px;
    }

    .img-fluid{
        border: 1px solid black;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    .outerBox{
        align-content: center;
    }

    .carousel-caption{
      width: 93%;
      left: 3.5%;
      bottom: 20%;
      margin: 0px;
      position: absolute;
    
    }
}

@media screen and (min-width: 708px){
    

    .wrapper{
        padding: 50px;
    }
    
    .navbar .nav-link{
        padding: 8px 16px;
    }

    .container-fluid a{
        color: gray;
    }

    .bio{
        
    }
}

@media screen and (max-width: 708px){
    .container-fluid a{
        color: gray;
    }

    .container-fluid{
        padding: 0;
    }

    .navbar{
        padding: 0px;
    }

    .navbar-text{
        width: 100%;
        text-align:center;
    }

    .navbar-nav{
        width: 100%;
    }

    .navbar-nav div{
        width: 25%;
        justify-content: center;
        text-align:center;
       
    }
}

@media screen and (max-width: 473px){
    .container-fluid a{
        color: gray;
    }

    .container-fluid{
        padding: 0;
    }

    .navbar{
        padding: 0;
    }

    .nav-link{
        padding: 8px 8px;
    }

    .navbar-text{
        width: 100%;
        text-align:center;
    }

    .navbar-nav{
        width: 100%;
    }

    .navbar-nav div{
        width: 33%;
        justify-content: center;
        text-align:center;
       
    }


    p{
        display: block;
    }
    a{
        font-size: 8px;
    }
}


a{
    color: black;
    font-size: 14px;
}

.dropdown{
    color: black;
    font-size: 14px;
}
img{
    border-radius: 100%;
    margin: 0px 16px 16px 0px;
}